form{
display:block;
font-family:verdana;
}

fieldset{
margins:auto;
width:425px;
text-align:center;
border-radius:10px 75px;
}

input.uname{
width:250px;
padding:7px;
border:none;
border-bottom:2px solid black;
margin-bottom:10px;
margin-left:10px;
background-color: #3CBC8D;
color: white;
border-radius:4px;
}

input.pswrd{
width:250px;
padding:7px;
border:none;
border-bottom:2px solid black;
margin-left:13px;
background-color: #3CBC8D;
color: white;
border-radius:4px;
}

legend{
text-align:center;
line-height:100px;
font-family:verdana;
font-style:italic;
font-size:40px;
font-weight:bold;
text-shadow:3px 3px 6px grey;
}

label.uname{
text-decoration:none;
line-height:50px;
font-size:20px;
}

label.pswrd{
text-decoration:none;
line-height:50px;
font-size:20px;
}

label.rememberme{
line-height:40px;
text-align:left;
font-size:16px;
}

a{
line-height:50px;
text-decoration:none;
display:block;
}

a:hover{
color:red;
}

a:active{
color:blue;
}

img{
height:175px;
text-align:center;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
background-color:#f1f1f1;
overflow:auto;
position:sticky;
top:0;
width:100.5%;
font-family:arial;
text-shadow:0px 0px 0px black;
}

li{
float:left;
border-right:1px solid #bbb;
}

li a{
display:block;
color:black;
text-align:center;
padding:5px 16px;
text-decoration:none;
}

li a:hover {
background-color: #111;
color: white;
}

input [type=button], input[type=submit], input[type=reset]{
background-color:blue;
border:none;
color:white;
padding:10px 25px;
text-decoration:none;
margin:4px 2px;
cursor:pointer;
font-family:arial;
box-shadow:3px 3px 6px black;
border-radius:4px;
}

::placeholder{
color:white;
}

input.link{
margin:auto;
}

.container{
    font-size: 1em;
    text-align: center;
    color:blueviolet;
    font-family:sans-serif;
    border: 2px violet groove;
    background-color: aquamarine;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    
}